# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# SQLite databases
*.sqlite3
*.db

# Python
__pycache__/
*.py[cod]
*$py.class

# IDEs
.vscode/
.idea/

# Output folders
outputs/
data/*.db
